.my-mfp-zoom-in .mfp-anim { opacity: 0; transform: scale(0.75); transition: transform .3s .45s ease-in-out, opacity .3s .45s ease-in-out; }

.not_delay .my-mfp-zoom-in .mfp-anim,
.my-mfp-zoom-in .mfp-anim.not_delay { animation-delay: 0s !important; transition: transform .3s 0s ease-in-out, opacity .3s 0s ease-in-out; }

.my-mfp-zoom-in.mfp-ready .mfp-anim { opacity: 1; transform: scale(1); }

.my-mfp-zoom-in.mfp-removing .mfp-anim { transform: scale(0.75); opacity: 0; }

.mfp-bg { opacity: 0; transform: scale(1); transition: transform .5s, opacity .5s; }

.mfp-bg.mfp-ready { transform: scale(1); opacity: 0.7; }

.mfp-removing.mfp-bg { opacity: 0; }

.mfp-wrap {
  position: fixed!important;
  top: 0!important;
  height: 100%!important;
  overflow: hidden auto!important;
}

.mfp-bg {
  position: fixed!important;
  top: 0!important;
  left: 0 !important;
  height: 100%!important;
}

.mfp-counter {
  display: none !important;
}

.mfp-arrow:before, .mfp-arrow:after {
  content: none;
}

.mfp-arrow {
  background: #fff !important;
  border: 1px solid #e1e3e5 !important;
  border-radius: 50%;
  opacity: 1 !important;
  width: 64px;
  height: 64px;
  line-height: 0;
}

.mfp-arrow svg {
  fill: #2d88d6 !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none !important;
}

.mfp-arrow-left {
  left: 10px;
}

.mfp-arrow-right {
  right: 10px;
}

.mfp-arrow-left svg {
  transform: translate(-50%, -50%) scaleX(-1);
}

@media(min-width: 1024.99px) {
  .sticky-box {
    position: fixed;
    top: 120px !important;
    max-width: 439px;
  }

  .card-breackpoint-flipbottom {
    position: absolute;
    bottom: 80px;
    max-width: 439px;
  }
}

.cookie {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: #EAF5FF;
  border-radius: 20px;
  padding: 32px;
  z-index: 20;
  display: none;

  &.active {
    display: block;
  }

  &-txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #6a6b70;
    max-width: 359px;
    margin-bottom: 16px;

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      color: #6a6b70;
      transition: color .2s ease;
      text-decoration: underline;
      text-underline-offset: 4px;

      &:hover {
        color: #2D88D6;
      }
    }
  }
}

.news {
  padding: 60px 0;
  padding-bottom: 19px;
}

.copy {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
}

.ui-table {
  min-width: 100%;
  width: auto;
  border-collapse: collapse;
  text-indent: 0;
  font-size: 15px;

  caption {
    text-align: start;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 24px;
    color: #6A6B70;

    span {
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: -0.02em;
      color: #1D1E20;
    }
  }

  &-wrap {
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &::-webkit-scrollbar {
      height: 4px;
    }

    /* Дорожка */
    &::-webkit-scrollbar-track {
      background: #E1E3E5;
      border-radius: 3px;
    }

    /* Бегунок */
    &::-webkit-scrollbar-thumb {
      background-color: #A5A8AD;
      border-radius: 3px;
      border: none;
    }
  }

  .clipboard {
    display: flex;
    gap: 0 10px;
    align-items: center;
  }

  .summary {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
  }

  .link {
    color: #2D88D6;
    transition: color .2s ease;

    svg {
      fill: #2D88D6;
      height: 1cap;
      margin-left: 10px;
      transition: fill .2s ease;
    }

    &:hover {
      color: #a5a8ad;

      svg {
        fill: #a5a8ad;
      }
    }
  }

  .width-365 {
    min-width: 365px;
    width: 100%;
    min-width: none;
    white-space: normal;
  }


  th {
    text-align: start;
    border-right: 1px solid #E1E3E5;
    background-color: #F7F7F7;
    font-weight: 400;
    line-height: 1.4;
    color: #6A6B70;
    padding: 24px;
    white-space: nowrap;
    min-width: 212px;

    &:first-child {
      border-radius: 8px 0 0 8px;
    }

    &:last-child {
      border-right: none;
      border-radius: 0 8px 8px 0;
    }
  }

  td {
    border-right: 1px solid #E1E3E5;
    border-bottom: 1px solid #E1E3E5;
    font-weight: 400;
    line-height: 1.4;
    padding: 10px 24px;
    height: 80px;
    white-space: nowrap;
    min-width: 212px;

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}

.ui-select-block {
  // position: relative;
  height: 52px;
  line-height: 50px;
  // max-width: 158px;
  display: inline-block;
  // line-height: 1;
}

.ui-radio {
  position: absolute;
  z-index: -1;
  opacity: 0
}

.ui-radio+label {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // padding: 10px 45px 10px 62px;
  // border: 1px solid #d4dfea;
  // border-radius: 8px;
  // width: 100%;
  // font-size: 20px;
  // color: #172542;
  // min-height: 80px;
  display: block;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  // line-height: 1;
  color: #2D88D6;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  padding-left: 54px;
  // text-align: right;
   border: 1px solid #2d88d6;
  border-radius: 8px;
}

.ui-select-block span {
  position: relative;
}

.ui-radio+label span::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid #A5A8AD;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translate(0,-50%)
}

.ui-radio:checked+label {
  border-color: #EAF5FF;
  background-color: #EAF5FF;
  color: #1D1E20;
}

.ui-radio:checked+label span::before {
  border-color: #2D88D6;
}

.ui-radio:checked+label span::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #2D88D6;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: -28px;
  border-radius: 50%
}


.ui-info {
  background-color: #EAF5FF;
  padding: 40px;
  border-radius: 16px;

  &-top {
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .ui-btn {
    max-width: 150px;
    width: 100%;
  }

  &-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: -0.05em;
    margin-bottom: 24px;
  }

  &-subtitle {
    max-width: 330px;
    font-size: 18px;
    line-height: 1.3;
    color: #333;
    text-wrap: balance;
  }

  &-txt {
    margin-bottom: 40px;
  }

  &-search {
    max-width: 473px;
    height: 44px;
    position: relative;

    button {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background: #fff;
      text-align: start;
      padding: 0 12px;
      font-size: 14px;
      color: #A5A8AD;
      border-radius: 6px;
      cursor: text;
      font-family: Inter, sans-serif;
    }

    .search-icon {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translate(0, -50%);
      line-height: 0;
      padding-left: 12px;
      pointer-events: none;

      &::before {
        content: "";
        width: 1px;
        height: 20px;
        background-color: #CFD2D7;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }


      svg {
        stroke: #1D1E20;
      }
    }
  }
}

.ui-catalog-search {
  position: relative;
  margin-bottom: 15px;

  input {
    height: 57px;
    outline: none;
    border: none;
    background-color: #F7F7F7;
    border-radius: 12px;
    padding-left: 46px;
    width: 100%;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    color: #6A6B70;

    &::placeholder {
      color: #6A6B70;
    }
  }

  svg {
    stroke: #6A6B70;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
  }
}

.ui-catalog {
  &-list {
    .ui-catalog-search {
      display: none;
      margin-bottom: 15px;
    }

    .row {
      gap: 20px 0;
    }
  }

  &-card {
    min-height: 284px;
    background-color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 40px;
    overflow: hidden;
    margin-bottom: 20px;
    gap: 20px 0;
    cursor: pointer;

    &.grey {
      background-color: #F7F7F7;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.big {
      @media(min-width: 1440.99px) {
        min-height: 588px;

        .ui-catalog-img {
          width: 264px;
          height: 264px;
        }
      }
    }

    &.middle {
      @media(min-width: 1440.99px) {
        min-height: 440px;

        .ui-catalog-img {
          width: 192px;
          height: 192px;
        }
      }
    }

    &.long {
      @media(min-width: 1440.99px) {
        .ui-catalog-bottom {
          max-width: calc(100% - 570px);
        }

        .ui-catalog-img {
          width: 584px;
          height: 100%;
        }
      }
    }
  }

  &-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    height: 160px;

    img {
      mix-blend-mode: multiply;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-head {
    max-width: 50%;
  }

  &-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-bottom: 12px;
    display: block;
    transition: color .2s ease;

    &:hover {
      color: #a5a8ad;
    }
  }

  &-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    color: #2D88D6;
    white-space: nowrap;

    svg {
      margin-left: 12px;
      fill: #2D88D6;
      height: 1cap;
    }
  }

  &-bottom {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: calc(100% - 30px);
  }

  &-tag {
    font-size: 14px;
    min-height: 29px;
    border: 1px solid #E1E3E5;
    color: #828282;
    border-radius: 30px;
    line-height: 27px;
    text-align: center;
    padding: 0 14px;
    transition: color .2s ease, border-color .2s ease;

    &:hover {
      color: #2d88d6;
      border-color: #2d88d6;
    }
  }
}

.ui-centered {
  text-align: center;
}

.ui-breadcrumbs {
  padding: 40px 0;
  margin-bottom: 0;

  li {
    display: inline-block;
  }

  @media(min-width: 1440.99px) {
    &.mb-40 {
      margin-bottom: 40px;
    }
  }

  &-link {
    color: #A5A8AD;
    padding-right: 21px;
    transition: opacity .2s ease-in-out;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    transition: color .2s ease;

    &:hover {
      color: #2D88D6;
    }

    &::after {
      content: "/";
      margin-left: 8px;
      margin-right: 8px;
      position: absolute;
      color: #A5A8AD;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    // color: #1D1E20;
  }
}

span.error {
  font-size: 14px;
  font-weight: 400;
  color: #FA5C4A;
  display: block;
  margin-top: 8px;
  line-height: 1;
}

.ui-checkbox {
  display: block;
  position: relative;
  padding-left: 34px;
  font-weight: 500;
  font-weight: 400;
  font-size: 12px;
  font-family: Inter;
  margin-bottom: 12px;
  color: #6A6B70;
}

.ui-checkbox a {
  font-weight: 500;
  font-weight: 400;
  font-size: 12px;
  // color: #910828;
  text-decoration: underline;
  font-family: Inter;
  color: #6A6B70;
  text-underline-offset: 3px;
  transition: color .2s ease;

  &:hover {
    color: #a5a8ad;
  }
}

.ui-checkbox-inline {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px
}

.ui-checkbox-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1
}

.ui-checkbox-label {
  cursor: pointer
}

.ui-checkbox-label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #2D88D6;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color .15s,border .15s
}

.ui-checkbox-label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/checked.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 100%;
  opacity: 0;
  transition: opacity .15s,transform .15s
}

.ui-checkbox-label span {
  color: #6A6B70;
  position: relative;
  top: 2px;
}

// .ui-checkbox:hover .ui-checkbox-input+.ui-checkbox-label:before {
//   border-color: #910828
// }

.ui-checkbox-input:checked+.ui-checkbox-label::before {
  border-color: #2D88D6;
  // background-color: #2D88D6
}

.ui-checkbox-input:checked+.ui-checkbox-label::after {
  opacity: 1;
}

.ui-checkbox-input.error+.ui-checkbox-label::before {
  border-color: #2D88D6;
}

.ui-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: #6A6B70;
  display: block;
}

.ui-input {
  width: 100%;
  background: transparent;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #CFD2D7;
  padding: 0 16px;
  font-weight: 400;
  font-size: 14px;
  font-family: Inter;
  transition: border-color .2s ease;
  outline: none;

  &.error {
    border-color: #FA5C4A;
  }

  &:hover {
    border-color: #2D88D6;
  }

  &:focus {
    border-color: #2D88D6;
  }

  &::placeholder {
    color: #A5A8AD;
  }
}

textarea.ui-input {
  padding-top: 16px;
  resize: vertical;
  height: auto;
}

.ui-fields {
  margin-bottom: 10px;

  .row {
    gap: 20px 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.mb-24 {
    margin-bottom: 24px;
  }
}

.ui-field {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.ui-count {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #E84E1B;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  line-height: 16px;
  color: #F7F7F7;
  position: absolute;
  right: 2px;
  top: -9px;
}

.noUi-touch-area {
  cursor: pointer;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url("../images/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  top: 0;
  right: 16px;
  width: 10px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(180deg);
}

.select2-dropdown {
  border-radius: 8px;
  border: 1px solid #CFD2D7;
}

.select2-container--default .select2-selection--single:hover {
  border-color: #2D88D6;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparent;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #EAF5FF;
  color: #1D1E20;
}

.select2-results__option {
  padding: 0 12px;
  height: 100%;
  line-height: 33px;
}

// .select2-container--default .select2-selection--single .select2-selection__rendered {
//   line-height: 31px;
// }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.select2-container--default .select2-selection--single {
  height: 100%;
  border-radius: 8px;
  border: 1px solid #CFD2D7;
  transition: border-color .2s ease;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 12px;
  padding-right: 30px;
}

.select2-container {
  max-width: 200px;
  font-weight: 400;
  font-size: 14px;
  height: 33px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #1D1E20;
}

.select2-dropdown {
  top: 10px;
  border-top: 1px solid #CFD2D7 !important;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 8px;
  overflow: hidden;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-radius: 8px;
}

.ui-pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0 12px;
  height: 30px;
  align-items: center;

  &-links {
    text-align: center;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    // margin-right: 5px;
    transition: color .2s ease-in-out;
    color: #A5A8AD;
    width: 29px;
    flex: 0 0 29px;

    svg {
      fill: #A5A8AD;
      transition: fill .2s ease;
      height: 1cap;
    }

    &:hover {
      // border-color: #161515;
      color: #2D88D6;

      svg {
        fill: #2D88D6;
      }
    }

    &.disable {
      svg {
        fill: #CFD2D7;
      }
    }

    &.current {
      color: #2D88D6;
    }

    &.next {
      transform: scaleX(-1);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.ui-btn {
  display: inline-block;
  height: 41px;
  line-height: 39px;
  border: 1px solid transparent;
  background-color: #2D88D6;
  font-weight: 500;
  font-size: 14px;
  border-radius: 8px;
  padding: 0 24px;
  color: #fff;
  text-align: center;
  font-family: "Inter";
  transition: border-color .2s ease, background-color .2s ease, color .2s ease;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    border-color: #2D88D6;
    color: #2D88D6;
  }

  &.orange {
    background-color: #E84E1B;

    &:hover {
      background-color: #fff;
      border-color: #E84E1B;
      color: #E84E1B;
    }
  }

  &.white {
    background-color: transparent;
    border: 1px solid #CFD2D7;
    color: #2D88D6;
    font-weight: 400;

    &:hover {
       background-color: #2D88D6;
      border-color: #2D88D6;
      color: #fff;
    }
  }

 @media(min-width: 1440.99px) {
  &.big {
    height: 52px;
    line-height: 50px;
  }
 }

  @media(max-width: 768.99px) {
    line-height: 29px;
    height: 31px;
    font-size: 12px;
    border-radius: 6px;
  }
}

svg {
  transition: stroke .2s ease, fill .2s ease;
}

.ui-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.05em;
  margin: 0;

  &.light {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }

  &.middle {
    @media(min-width: 1024.99px) {
      font-weight: 500;
      font-size: 32px;
      line-height: 1.1;
      letter-spacing: -0.04em;
    }
  }

  span {
    font-size: 18px;
    line-height: 1.3;
    position: relative;
    color: #A5A8AD;
    letter-spacing: normal;
    font-weight: 400;
    top: -25px;
    right: -8px;
  }
}

.ui-header {
  padding-bottom: 16px;
  border-bottom: 1px solid #CFD2D7;
  margin-bottom: 40px;

  &.flex {
    justify-content: space-between;
    align-items: center;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.border-none {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 32px;
  }

  &-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    color: #2D88D6;
    // padding-right: 20px;
    position: relative;
    margin-right: 10px;
    transition: color .2s ease;

    &.orange {
      color: #E84E1B;
      svg {
        fill: #E84E1B;
      }
    }

    &:hover {
      color: #a5a8ad;

      svg {
        fill: #a5a8ad;
      }
    }

    svg {
      margin-left: 12px;
      fill: #2D88D6;
      height: 1cap;
      transition: fill .2s ease;
    }
  }
}

.ui-catalog {
  margin-bottom: 160px;

  &:last-child {
    margin-bottom: 0;
  }

  .splide__arrow--prev {
    left: -104px !important;
  }

  .splide__arrow--next {
    right: -104px !important;
  }

  .splide__track {
    margin-bottom: 35px;
  }
}

.tag {
  font-weight: 400;
  font-size: 12px;
  color: #f2f2f2;
  padding: 0 8px;
  border-radius: 5px;
  height: 23px;
  line-height: 23px;
  display: inline-block;

  &.discount {
    background-color: #E84E1B;
  }

  &.season {
    background-color: #36BC14;
  }
}

.ui-card {
  border-radius: 16px;
  padding: 16px;
  // max-width: 325px;
  border: 1px solid #CFD2D7;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media(min-width: 1440.99px) {
    min-height: 570px;
  }

  &-img {
    line-height: 0;
    overflow: hidden;
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 40px;

    img {
      object-fit: contain;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-top {
    position: relative;
  }

  &-bottom {
    // min-height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: calc(100% - 333px);
  }

  &-head {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    &.right {
      justify-content: flex-end;
    }
  }

  &-fav {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #F7F7F7;
    position: relative;

    &.active {
      svg {
        fill: #2D88D6;
        stroke: #2D88D6;
      }
    }

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      stroke: #A5A8AD;
      fill: transparent;
      transition: stroke .2s ease, fill .2s ease;
    }

    &:hover {
      svg {
        fill: #2D88D6;
        stroke: #2D88D6;
      }
    }
  }

  &-info {
    margin-bottom: 30px;
  }

  &-article {
    font-weight: 400;
    font-size: 12px;
    color: #A5A8AD;
    margin-bottom: 8px;
  }

  &-title {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #333;
    transition: color .2s ease;

    &:hover {
      color: #a5a8ad;
    }

    span {
      font-weight: 500;
    }
  }

  &-price {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: -0.02em;

    .count {
      font-size: 12px;
    }
  }

  &-pricing {
    display: flex;
    gap: 0 6px;
    margin-bottom: 16px;

    .discount {
      font-size: 14px;
      line-height: 1.2;
      text-decoration: line-through;
      color: #A5A8AD;
      position: relative;
      top: 6px;
    }

    .percent {
      font-weight: 400;
      font-size: 12px;
      color: #f2f2f2;
      border-radius: 5px;
      background: #e84e1b;
      height: 23px;
      line-height: 23px;
      padding: 0 8px;
      position: relative;
      top: 6px;
    }
  }

  &-control {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    .ui-number {
      max-width: 50%;
      width: 50%;
      flex: auto;
    }

    .ui-btn {
      max-width: 50%;
      width: 50%;
      padding: 0 5px;
    }
  }
}

.ui-number {
	display: inline-block;
	position: relative;
	max-width: 140px;
  flex: 0 0 140px;
  width: 100%;
  // border-radius: 8px;
  overflow: hidden;

  input[type="number"] {
    display: block;
    height: 41px;
    line-height: 39px;
    width: 100%;
    padding: 0 40px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #CFD2D7;
    background-color: transparent;
    border-radius: 8px;
    outline: none;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }

  &-btn {
    position: absolute;
    width: 40px;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    height: 100%;
    background-color: transparent;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 13px;
      height: 13px;
      stroke: #2D88D6;
      transition: stroke .2s ease-in-out;
      transition: stroke .2s ease;
    }

    &.minus {
      top: 0;
      left: 0;
    }

    &.plus {
      top: 0;
      right: 0;
    }

    &:hover {
      svg {
        stroke: #E84E1B;
      }
    }
  }
}

.splide__pagination {
  position: static;
}

.splide__pagination__page {
  margin: 0;
  height: 10px;
  width: 10px;
}

.splide__pagination__page {
  opacity: 1;
}

.splide__pagination__page.is-active {
  background-color: #2D88D6;
  transform: none;
}

.splide__pagination li {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.splide__arrow {
  width: 64px;
  height: 64px;
  opacity: 1;
  background: transparent;
  border: 1px solid #E1E3E5;
  background-color: #fff;
  transition: border-color .2s ease;

  &:hover {
    border-color: #2D88D6;
  }
}

.splide__arrow svg {
  fill: #2D88D6 !important;
}

.splide__arrow:disabled {
  background-color: transparent;
  border-color: #E1E3E5;
  opacity: 1;

  svg {
    fill: #E1E3E5 !important;
  }
}

.show-more {
  display: none;
}

.noUi-horizontal {
  height: 2px !important;
}

.noUi-target {
  border: none !important;
  box-shadow: none !important;
}

.noUi-connect {
  background: #2D88D6;
}

.noUi-horizontal .noUi-handle {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  right: 0 !important;
  top: -4px !important;
}

.noUi-handle {
  border: none !important;
  background: #2D88D6 !important;
  box-shadow: none !important;
}

.noUi-target {
  background: #EAF5FF !important;
}

.noUi-handle:after, .noUi-handle:before {
  content: none !important;
}

.noUi-tooltip {
  display: none !important;
}

.noUi-horizontal .noUi-handle-lower {
  right: -10px !important;
}

@media(max-width: 1600.99px) {
  .ui-catalog {
    .splide__arrow--next {
      right: 8px !important;
    }

    .splide__arrow--prev {
      left: 8px !important;
    }

    .splide__arrow {
      top: calc(50% - 30px);
      transform: translateY(calc(-50% - 30px));
    }
  }

  .ui-info {
    &-top {
      margin-bottom: 60px;
    }
  }

  // .ui-info {
  //   padding: 38px;

  //   &-title {
  //     font-size: 46px;
  //     margin-bottom: 22px;
  //   }
  // }
}

@media(max-width: 1440.99px) {
  .ui-select-block {
    height: 41px;
    line-height: 39px;
  }

  .ui-radio+label {
    font-size: 14px;
    padding-left: 50px;
  }

  .ui-radio+label span::before {
    width: 16px;
    height: 16px;
    left: -28px;
  }

  .ui-radio:checked+label span::after {
    width: 14px;
    height: 14px;
    left: -26px;
  }

  .ui-table {
    caption {
      margin-bottom: 20px;
      font-size: 16px;
    }

    th {
      padding: 20px;
      min-width: 180px;
    }

    td {
      padding: 10px 20px;
      min-width: 180px;
      height: 70px;
    }
  }

  .ui-catalog-search {
    margin-bottom: 26px;

    input {
      height: 44px;
      border-radius: 10px;
    }
  }

  .ui-info {
    &-top {
      margin-bottom: 40px;
    }

    &-search {
      height: 40px;

      button {
        font-size: 12px;
      }
    }

    .search-icon {
      &::before {
        content: none;
      }

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  .ui-catalog {
    &-card {
      min-height: 274px;

      &.big {
        @media(min-width: 1024.99px) {
          min-height: 568px;

          .ui-catalog-img {
            width: 244px;
            height: 244px;
          }
        }
      }

      &.long {
        @media(min-width: 1024.99px) {
          .ui-catalog-bottom {
            max-width: calc(100% - 550px);
          }

          .ui-catalog-img {
            width: 564px;
            height: 100%;
          }
        }
      }
    }

    &-title {
      font-size: 22px;
    }

    &-tag {
      font-size: 12px;
    }

    &-bottom {
      gap: 8px;
    }

    &-img {
      width: 230px;
      height: 140px;
    }
  }

  .ui-title {
    font-size: 40px;

    span {
      font-size: 16px;
      top: -20px;
      right: -5px;
    }
  }

  .ui-breadcrumbs {
    padding: 30px 0;
  }

  .ui-header {
    margin-bottom: 35px;
  }

  .splide__arrow {
    width: 58px;
    height: 58px;
  }

  .ui-catalog {
    margin-bottom: 120px;

    .splide__track {
      margin-bottom: 30px;
    }
  }

  .ui-info {
    padding: 36px;

    &-title {
      font-size: 42px;
      margin-bottom: 20px;
    }

    &-subtitle {
      font-size: 16px;
    }
  }
}

@media(max-width: 1024.99px) {
  .cookie {
    right: 20px;
    bottom: 20px;
    padding: 20px;
  }

  .ui-fields {
    .row {
      gap: 10px 0;
    }
  }

  .ui-table {
    font-size: 14px;

    caption {
      margin-bottom: 20px;
      font-size: 14px;
    }

    th {
      padding: 15px;
      min-width: 150px;
    }

    td {
      padding: 10px 15px;
      height: 60px;
      min-width: 150px;
    }

    .width-365 {
      min-width: 300px;
    }
  }

  span.error {
    font-size: 12px;
    margin-top: 4px;
  }

  .ui-label {
    margin-bottom: 8px;
    font-size: 13px;
  }

  .ui-catalog-search {
    input {
      height: 40px;
      border-radius: 8px;
      padding-left: 46px;
      width: 100%;
    }

    svg {
      left: 20px;
      width: 15px;
      height: 15px;
    }
  }

  .ui-catalog {
    &-card {
      min-height: 263px;
      padding: 30px;
      border-radius: 30px;
    }

    &-head {
      max-width: 100%;
    }

    &-tag {
      font-size: 11px;
      min-height: 24px;
      line-height: 22px;
      padding: 0 12px;
    }

    &-title {
      font-size: 20px;
    }

    &-bottom {
      max-width: calc(100% - 244px);
    }

    &-img {
      // position: static;
      // margin: 0 auto;
      width: 244px;
      height: 100%;
    }
  }

  .ui-title {
    font-size: 32px;

    span {
      font-size: 14px;
      top: -18px;
      right: -3px;
    }
  }

  textarea.ui-input {
    padding-top: 12px;
  }

  .ui-input {
    height: 45px;
  }

    .tag {
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    padding: 0 8px;
  }

  .ui-header {
    margin-bottom: 30px;

    &-link {
      font-size: 13px;
      padding-right: 16px;
    }
  }

  .ui-card {
    padding: 14px;

    &-title {
      font-size: 15px;
    }

    &-fav {
      width: 42px;
      height: 42px;
    }

    &-img {
      margin-bottom: 24px;
    }

    &-article {
      margin-bottom: 6px;
      font-size: 10px;
    }

    &-info {
      margin-bottom: 24px;
    }

    &-price {
      font-size: 20px;

      .count {
        font-size: 10px;
      }


    }

    &-pricing {
      margin-bottom: 12px;

      .discount {
        font-size: 12px;
      }
    }

    &-control {
      gap: 10px;
    }
  }

  .ui-catalog {
    margin-bottom: 80px;

    .splide__track {
      margin-bottom: 20px;
    }
  }

  .ui-info {
    padding: 32px;

    &-title {
      font-size: 34px;
      margin-bottom: 18px;
    }

    &-subtitle {
      font-size: 15px;
    }

    &-txt {
      margin-bottom: 48px;
    }

    .ui-btn {
      max-width: none;
      width: auto;
    }
  }
}

@media(max-width: 768.99px) {
  .cookie {
    bottom: 78px;
    padding: 14px 10px;

    &-txt {
      font-size: 12px;

      a {
        font-size: 12px;
      }
    }

    .ui-btn {
      padding: 0 23px;
    }
  }

  .ui-select-block {
    height: 31px;
    line-height: 29px;
  }

  .ui-radio+label {
    font-size: 12px;
    padding-left: 38px;
  }

  .ui-radio+label span::before {
    width: 14px;
    height: 14px;
    left: -26px;
  }

  .ui-radio:checked+label span::after {
    width: 12px;
    height: 12px;
    left: -24px;
  }

  .copy {
    width: 10px;
    height: 10px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .ui-table {
    font-size: 13px;

    caption {
      margin-bottom: 15px;
      font-size: 13px;
    }

    .width-365 {
      min-width: 250px;
    }

    th {
      padding: 12px;
      min-width: 120px;
    }

    td {
      padding: 10px 12px;
      height: 54px;
      min-width: 120px;
    }
  }

  .ui-label {
    margin-bottom: 6px;
    font-size: 12px;
  }

  .ui-field {
    margin-bottom: 10px;
  }

  .ui-catalog {
    &-list {
      .row {
        gap: 10px 0;
      }

      .ui-catalog-search {
        display: block;
      }
    }

    &-title {
      font-size: 16px;
      margin-bottom: 0;
    }

    &-card {
      min-height: auto;
      background-color: transparent !important;
      padding: 0;
      border-radius: 0;

      .ui-header-link {
        display: none;
      }
    }

    &-head {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 0 14px;
      align-items: center;
    }

    &-img {
      width: 80px;
      height: 80px;
      flex: 0 0 80px;
      background: #F7F7F7;
      border-radius: 10px;
      position: relative;
      display: block;
      right: auto;
      top: auto;

      img {
        width: 70px;
        height: 70px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-bottom {
      display: none;
    }
    // &-card {
    //   padding: 20px;
    //   border-radius: 20px;
    // }

    // &-tag {
    //   font-size: 10px;
    //   min-height: 20px;
    //   line-height: 18px;
    //   padding: 0 10px;
    // }

    // &-bottom {
    //   max-width: 100%;
    //   gap: 5px;
    // }

    // &-img {
    //   position: static;
    //   margin: 0 auto;
    //   width: 180px;
    //   height: 180px;
    // }
  }


  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 12px;
  }

  .select2-container  {
    font-size: 12px;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px;
  }

  .select2-container--default .select2-selection--single {
    border-radius: 6px;
  }

  .select2-results__option {
    line-height: 31px;
    font-size: 12px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 9px;
  }

  .ui-breadcrumbs {
    padding: 20px 0;

    &-link {
      font-size: 12px;
      padding-right: 17px;

      &::after {
        margin: 0 6px;
      }
    }

    span {
      font-size: 12px;
    }
  }

  .ui-title {
    font-size: 28px;

    span {
      font-size: 12px;
      top: -17px;
      right: -2px;
    }
  }

  .ui-header {
    margin-bottom: 25px;
    padding-bottom: 14px;
  }

  .splide__arrow {
    width: 48px;
    height: 48px;
  }

  .splide__pagination__page {
    width: 8px;
    height: 8px;
  }

  .splide__pagination li {
    margin-right: 8px;
  }

  .ui-number {
    input[type=number] {
      height: 31px;
      line-height: 29px;
      border-radius: 6px;
      font-size: 12px;
    }
  }

  .ui-card {
    padding: 12px;

    &-head {
      align-items: start;
    }

    &-img {
      margin-bottom: 16px;
    }

    &-article {
      margin-bottom: 4px;
    }

    &-info {
      margin-bottom: 16px;
    }

    &-price {
      font-size: 18px;
    }

    &-pricing {
      margin-bottom: 10px;

      .percent {
        font-size: 10px;
        height: 16px;
        line-height: 16px;
        padding: 0 4px;
      }
    }
  }

  .ui-catalog {
    margin-bottom: 64px;
  }

  .ui-info {
    padding: 28px;

    &-title {
      font-size: 26px;
      margin-bottom: 14px;
    }

    &-subtitle {
      font-size: 14px;
    }

    &-txt {
      margin-bottom: 58px;
    }
  }
}

@media(max-width: 576.99px) {
  .cookie {
    bottom: 78px;
    right: 0;
    right: 20px;
    width: calc(100% - 40px);
  }

  .mfp-arrow {
    top: auto;
    transform: none;
    bottom: 22px;
    width: 40px;
    height: 40px;
    transform: none;
  }

  .mfp-arrow-left {
    right: calc(50% + 5px);
    left: auto;
    // transform: translate(-50%, 0);
  }

  .mfp-arrow-right {
    left: calc(50% + 5px);
    right: auto;
    // transform: translate(-50%, 0);
  }

  .ui-table {
    font-size: 12px;

    caption {
      margin-bottom: 10px;
      font-size: 12px;
    }

    .width-365 {
      min-width: 213px;
    }

    th {
      min-width: 100px;
    }

    td {
      min-width: 100px;
      height: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

  .ui-catalog {
    &-title {
      font-size: 12px;
    }

    &-img {
      width: 50px;
      height: 50px;
      flex: 0 0 50px;
      background: #F7F7F7;
      border-radius: 6px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .ui-catalog-search {
    input {
      font-size: 12px;
      padding-left: 36px;
    }

    svg {
      left: 14px;
      width: 12px;
      height: 12px;
    }
  }

  .ui-breadcrumbs {
    &-link {
      font-size: 10px;
    }

    span {
      font-size: 10px;
    }
  }

  .ui-title {
    font-size: 24px;

    span {
      font-size: 10px;
      top: -15px;
      right: -5px;
    }
  }

  .ui-checkbox {
    padding-left: 27px;
  }

  // .ui-checkbox a {
  //   font-size: 11px;
  // }

  .ui-checkbox-label span {
    font-size: 11px;
  }

  .ui-checkbox a {
    font-size: 11px;
  }

  textarea.ui-input {
    padding-top: 10px;
  }

  .ui-input {
    height: 40px;
    border-radius: 8px;
    font-size: 12px;
    padding: 0 12px;
  }

  .select2-container {
    max-width: 100%;
    height: 31px;
  }


  .ui-header {
    padding-bottom: 12px;
    margin-bottom: 20px;

    &.flex {
      flex-direction: column;
      align-items: start;
      gap: 12px 0;
    }

    &.column {
      border-bottom: none;
      gap: 0;

      .ui-title {
        padding-bottom: 12px;
        margin-bottom: 16px;
        border-bottom: 1px solid #CFD2D7;
        width: 100%;
      }
    }

    &-link {
      font-size: 12px;
      margin-right: 0;

      svg {
        margin-left: 5px;
      }
    }
  }

  .splide__arrow {
    width: 40px;
    height: 40px;
  }

  .splide__pagination__page {
    width: 4px !important;
    height: 4px !important;
  }

  .splide__pagination li {
    margin-right: 6px;
  }

  .splide__arrow svg {
    width: 8px;
    height: 8px;
  }

  .ui-number input[type=number] {
    font-size: 12px;
  }

  .tag {
    font-size: 8px;
    padding: 0 4px;
    height: 14px;
    line-height: 14px;
  }

  .ui-card {
    padding: 8px;
    border-radius: 10px;

    &-fav {
      width: 24px;
      height: 24px;

      svg {
        width: 12px;
        height: 12px;
      }
    }

    &-img {
      margin-bottom: 12px;
    }

    &-article {
      font-size: 10px;
      margin-bottom: 4px;
    }

    &-info {
      line-height: 1;
    }

    &-title {
      font-size: 12px;
      line-height: 1;
      margin-bottom: 8px;

      span {
        font-weight: 400;
      }
    }

    &-price {
      font-size: 14px;

      .count {
        font-size: 14px;
        // text-transform: uppercase;

        span {
          color: #A5A8AD;
        }
      }
    }

    &-pricing {
      flex-direction: column-reverse;
      gap: 6px 0;
      margin-bottom: 8px;

      .discount {
        font-size: 10px;
        top: 0;
      }

      .percent {
        font-size: 8px;
        border-radius: 4px;

      }
    }

    &-control {
      flex-direction: column;
      gap: 8px 0;

      .ui-number {
        max-width: 100%;
        width: 100%;
      }

      .ui-btn {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .show-more {
    display: block;
    margin: 0 auto;
    max-width: 106px;
    padding: 0;
    width: 100%;
  }

  .load-more {
    padding: 0 8px;
    max-width: 106px;
    width: 100%;
  }

  .ui-catalog {
    .splide__list {
      display: flex !important;
      flex-wrap: wrap;
      gap: 10px;
    }

    .splide__slide {
      max-width: calc(50% - 5px);

      &.hidden {
        display: none;
      }
    }
  }

  .ui-pagination {
    gap: 0 4px;
    .hidden {
      display: none;
    }

    &-links {
      width: 24px;
      flex: 0 0 24px;
    }
  }

  .ui-info {
    padding: 24px;

    &-title {
      font-size: 18px;
      margin-bottom: 12px;
    }

    &-subtitle {
      font-size: 12px;
    }
  }
}

@media(max-width: 375.99px) {
  .cookie {
    width: calc(100% - 20px);
    right: 10px;
  }
}

.tooltip {
  position: fixed;
  bottom: 20px;
  left: 50%;
  background: #2d88d6;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  opacity: 1;
  transition: opacity .2s ease;
}

input:focus {
  caret-color: #2d88d6; /* Задаёт цвет мигающей каретки */
}