.header {
  // margin-bottom: 50px;

  .select2-container--open .select2-dropdown--below {
    display: none !important;
    width: auto !important;
    top: 0 !important;
  }

  .select2-dropdown {
    top: 0 !important;
    width: auto !important;
  }

  .select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    border: none !important;
    background-color: transparent !important;
    transition: none !important;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  span.select2-selection__arrow {
    display: none !important;
  }

  .select2-container {
    height: auto !important;
    min-width: 20px !important;
    font-size: 15px !important;
    vertical-align: baseline !important;
    line-height: 1 !important;
    // position: absolute;
    // top: 50%;
    // transform: translate(0, -50%);
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    position: static !important;
    transform: none !important;
    line-height: 1 !important;
  }

  &-catalog {
    max-width: 132px;
    width: 100%;
    margin-right: 20px;
    position: relative;
  }

  &-top {
    background-color: #EAF5FF;
    padding: 15px 0;

    &-container {
      display: flex;
      justify-content: space-between;
    }

    &-logo {
      display: none;
    }

    &-socials {
      line-height: 0;

      svg {
        width: 18px;
        height: 18px;
        fill: #2D88D6;
        transition: fill .2s ease;
      }

      a {
        margin-right: 16px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          svg {
            fill: #a5a8ad;
          }
        }
      }
    }

    &-right {
      font-size: 12px;
      display: flex;
      align-items: center;
    }

    &-time {
      padding-right: 44px;
      position: relative;

      &::after {
        content: "";
        width: 1px;
        height: 20px;
        background-color: #CFD2D7;
        position: absolute;
        right: 23px;
        top: 50%;
        transform: translate(0, -50%);
      }

      span {
        color: #828282;
        margin-right: 10px;
      }

      a {
        transition: color .2s ease;

        &:hover {
          color: #a5a8ad;
        }
      }
    }

    &-location {
      position: relative;
      // padding-left: 27px;
      display: flex;
      align-items: center;
      gap: 0 14px;

      // img {
      //   position: absolute;
      //   left: 0;
      //   top: 50%;
      //   transform: translate(0, -50%);
      // }

      select {
        border: none;
        background: transparent;
        font-weight: 400;
        font-size: 15px;
        font-family: "Inter";
        // text-decoration: underline;
        // text-underline-offset: 3px;
        color: #1D1E20;
        // margin-left: 27px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        cursor: pointer;
        transition: color .2s ease;

        &:hover {
          color: #A5A8AD;
        }
      }
    }
  }

  &-sticky {
    &.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff; /* Можно изменить цвет фона */
      // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 510;

      @media(min-width: 576.99px) {
        .header-top.active {
          display: none;
        }
        .header-bottom.active {
          display: none;
        }
      }
    }
  }

  &-middle {
    padding: 24px 0;

    &-container {
      display: flex;
      align-items: center;
    }

    &-center {
      display: flex;
      align-items: center;
      max-width: calc(100% - 500px);
      flex: 0 0 calc(100% - 500px);

      &.active {
        position: relative;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      max-width: 200px;
      flex: 0 0 200px;
      justify-content: space-between;
    }

    &-logo {
      display: flex;
      align-items: center;
      margin-right: 50px;
      max-width: 250px;
      flex: 0 0 250px;
    }

    &-img {
      margin-right: 24px;
      line-height: 0;
    }

    &-caption {
      max-width: 94px;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.2;
    }

    &-burger {
      display: none;
      width: 44px;
      height: 44px;
      background-color: #2D88D6;
      border: none;
      position: relative;
      border-radius: 5px;
      margin-right: 20px;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-search {
      svg {
        width: 18px;
        height: 18px;
        stroke: #1D1E20;
      }
    }

    &-catalog {
      display: block;
      height: 44px;
      line-height: 42px;
      background-color: #2D88D6;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      color: #f2f2f2;
      padding: 0;
      width: 100%;
      // margin-right: 20px;
      // max-width: 132px;
      // width: 100%;
      text-align: center;
      border: 1px solid transparent;
      transition: border-color .2s ease, background-color .2s ease, color .2s ease;
      font-family: Inter, sans-serif;
      cursor: pointer;

      &:hover {
        border-color: #2D88D6;
        background-color: #fff;
        color: #2D88D6;

        svg {
          fill: #2D88D6;
        }
      }

      svg {
        position: relative;
        margin-right: 10px;
        top: 4px;
        fill: #fff;
        transition: fill .2s ease;
      }
    }

    &-search {
      position: relative;
      max-width: calc(100% - 242px);
      width: 100%;
      z-index: 510;

      &.active {
        position: absolute;
        max-width: calc(100% - 20px);
      }

      input {
        height: 44px;
        border: none;
        background: #F7F7F7;
        border-radius: 8px;
        padding: 0 12px;
        font-family: "Inter";
        font-size: 14px;
        line-height: 1.2;
        width: 100%;
        outline: none;

        &::placeholder {
          color: #A5A8AD;
        }

        &:hover {
          &+.search-icon svg {
            stroke: #2D88D6;
          }
        }

        &:focus {
          &+.search-icon svg {
            stroke: #2D88D6;
          }
        }
      }

      .search-icon {
        line-height: 0;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translate(0, -50%);
        // padding-left: 12px;
        display: flex;
        align-items: center;
        // border-left: 1px solid #CFD2D7;

        span {
          width: 1px;
          height: 20px;
          margin: 0 13px;
          background-color: #CFD2D7;
        }

        button {
          border: none;
          padding: 0;
          background-color: transparent;
          line-height: 0;
          cursor: pointer;
        }

        .close {
          display: none;

          &.active {
            display: block;
          }
        }
      }
    }
  }

  &-bottom {
    padding: 24px 0;

    &.active {
      display: none;
    }

    &-container {
      display: flex;
      justify-content: space-between;

      a {
        font-weight: 400;
        font-size: 15px;
        transition: color .2s ease;

        &.discount {
          color: #E84E1B;
          padding-left: 32px;
          position: relative;

          img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
          }
        }

        &:hover {
          color: #A5A8AD;
        }
      }
    }

    &-left {
      // max-width: 752px;
      // width: 100%;

      ul {
        display: inline;
        padding-right: 64px;
        position: relative;

        &::after {
          content: "";
          width: 1px;
          height: 14px;
          background-color: #A5A8AD;
          position: absolute;
          right: 32px;
          top: 50%;
          transform: translate(0, -50%);
        }

        &:last-child {
          padding-right: 0;

          &::after {
            content: none;
          }
        }
      }

      li {
        display: inline;
        margin-right: 27px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-right {
      ul {
        display: inline;
      }

      li {
        display: inline;
        margin-right: 36px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-control {
    text-align: center;
    position: relative;
    // margin-right: 30px;

    &:hover {
      .header-control-title {
        color: #2d88d6;
      }

      .header-control-icon {
        svg {
          fill: #2d88d6;
        }
      }
    }

    &-title {
      font-size: 10px;
      color: #828282;
      transition: color .2s ease;
    }

    &-icon {
      line-height: 0;
      margin-bottom: 2px;
    }

    // &:last-child {
    //   margin-right: 0;
    // }

    svg {
      width: 18px;
      height: 18px;
      fill: #A5A8AD;
      transition: fill .2s ease;
    }

    &.fav {
      span {
        right: 8px;
      }
    }
  }

  @media(max-width: 1170.99px) {
    &-middle {
      &-logo {
        margin-right: 32px;
      }

      // &-catalog {
      //   margin-right: 32px;
      // }

      &-search {
        max-width: calc(100% - 176px);
      }

      &-center {
        max-width: calc(100% - 482px);
        flex: 0 0 calc(100% - 482px);
      }
    }

    &-bottom {
      padding-bottom: 12px;

      &-container {
        flex-wrap: wrap;
      }

      &-left {
        margin-right: 16px;

        li {
          margin-right: 16px;
        }

        ul {
          padding-right: 32px;
          display: inline-block;
          margin-bottom: 12px;

          &::after {
            right: 16px;
          }
        }
      }

      &-right {
        li {
          margin-right: 16px;
        }
      }
    }
  }

  @media(max-width: 1024.99px) {
    &-middle {
      &-logo {
        max-width: 132px;
        flex: 0 0 132px;
        margin-right: 32px;
      }

      &-search {
        max-width: calc(100% - 164px);
      }

      &-caption {
        display: none;
      }

      &-img {
        margin-right: 0;
      }

      &-center {
        max-width: calc(100% - 364px);
        flex: 0 0 calc(100% - 364px);
      }
    }

    &-bottom {
      &-container {
        flex-direction: column;
      }

      &-left {
        li {
          margin-right: 20px;
        }

        ul {
          padding-right: 0;
          margin-right: 20px;

          &::after {
            content: none;
          }
        }
      }

      &-right {
        li {
          margin-right: 20px;
        }
      }
    }
  }

  @media(max-width: 768.99px) {
    &-catalog {
      display: none;
    }
    &-middle {
      // &-catalog {
      //   display: none;
      // }

      &-burger {
        display: block;
      }

      &-right {
        display: none;
      }

      &-search {
        max-width: calc(100% - 64px);

        &.active {
          max-width: none;
        }

        input {
          border-radius: 5px;
        }
      }

      &-center {
        max-width: calc(100% - 164px);
        flex: 0 0 calc(100% - 164px);
      }
    }

    &-bottom {
      display: none;
    }
  }

  @media(max-width: 576.99px) {
    .select2-container {
      left: auto !important;
      right: 0 !important;
      font-size: 12px !important;
    }

     &-top {
        padding: 10px 0;
        background-color: #F7F7F7;

        &-right {
          display: none;
        }

        &-logo {
          display: block;
          max-width: 70px;
          line-height: 0;
        }

        &-location {
          gap: 0 8px;

          select {
            font-size: 12px;
          }
        }
     }

     &-middle {
      padding: 10px 0;

      &-logo {
        display: none;
      }

      &-center {
        max-width: none;
        flex: none;
        width: 100%;
      }

      &-burger {
        height: 40px;
        width: 40px;
        margin-right: 10px;
      }

      &-search {
        max-width: calc(100% - 50px);

        input {
          height: 40px;
          font-size: 12px;
        }

        span {
          display: none;
        }

        .close {
          display: none !important;
        }

        svg {
          width: 11px;
          height: 11px;
        }
      }
     }
  }
}

.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #F7F7F7;
  padding: 10px 8px;
  display: none;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  z-index: 500;

  a {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: #828282;

    &.fav {
      .ui-count {
        right: 8px;
      }
    }
  }

  &-img {
    margin-bottom: 0;
  }

  @media(max-width: 768.99px) {
    display: flex;
  }
}

.burger {
  position: absolute;
  left: 0;
  top: 0;
  height: 100dvh;
  background: #fff;
  padding: 14px 10px;
  max-width: 240px;
  width: 100%;
  border-radius: 0 10px 10px 0;
  font-size: 12px;

  .select2-container--open .select2-dropdown--below {
    display: none !important;
    width: auto !important;
    top: 0 !important;
  }

  .select2-dropdown {
    top: 0 !important;
    width: auto !important;
  }

  .select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    border: none !important;
    background-color: transparent !important;
    transition: none !important;
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  span.select2-selection__arrow {
    display: none !important;
  }

  .select2-container {
    height: auto !important;
    min-width: 77px !important;
    font-size: 12px;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    position: static !important;
    transform: none !important;
    line-height: 1 !important;
  }


  .ui-btn {
    font-size: 12px;
    border-radius: 5px;
    height: 31px;
    line-height: 29px;
  }

  a.discount {
    color: #E84E1B;
    padding-left: 24px;
    position: relative;

    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .close {
    position: absolute;
    // width: 16px;
    // height: 16px;
    border: none;
    right: -66px;
    top: 14px;
    background-color: transparent;

    img {
      width: 16px;
      height: 16px;
    }
  }

  &-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(29, 30, 32, 0.7);
    z-index: 900;
    display: none;

    &.active {
      display: block;
    }
  }

  &-head {
    line-height: 0;
    padding-bottom: 16px;
    // margin-bottom: 16px;
    border-bottom: 1px solid #E1E3E5;

    img {
      max-width: 70px;
    }
  }

  &-body {
    overflow: auto;
    height: calc(100% - 53px);

    &-content {
      margin-bottom: 16px;
    }

    &-list {
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid #E1E3E5;
    }

    ul {
      margin: 0;
    }

    li {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &-time {
    font-size: 12px;

    .phone {
      font-size: 12px;
      margin-right: 10px;
    }

    span {
      color: #828282;
      font-size: 8px;
    }
  }

  .header-middle-catalog.mob {
    display: inline-block;
    height: 28px;
    line-height: 26px;
    padding: 0 10px;
    font-size: 12px;
    margin-bottom: 16px;
    border-radius: 5px;
    max-width: 92px;

    svg {
      margin-right: 5px;
      width: 10px;
      height: 10px;
      top: 1px;
    }
  }

  .header-top-location.mob {
    display: flex;
    margin-bottom: 16px;
    gap: 0 10px;

    select {
      font-size: 12px;
    }

    img {
      width: 16px;
      height: 16px;
    }
  }

  .header-top-socials.mob {
    display: block;
    margin-bottom: 16px;

    svg {
      width: 12px;
      height: 12px;
    }

    a {
      margin-right: 10px;
    }
  }
  // &-catalog {
  //   display: inline-block;
  //   height: 44px;
  //   line-height: 44px;
  //   background-color: #2D88D6;
  //   border-radius: 8px;
  //   font-weight: 500;
  //   font-size: 14px;
  //   color: #f2f2f2;
  //   padding: 0 10px;
  //   margin-bottom: 16px;

  //   img {
  //     position: relative;
  //     margin-right: 6px;
  //     top: 2px;
  //   }
  // }
}

.menu {
  display: none;
  // display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 20px;
  z-index: 2;
  padding: 40px;
  // width: 1174px;

  &.hovered {
    padding-right: 0;
    border-radius: 20px 0 0 20px;
  }

  &.active {
    padding-right: 0;
    border-radius: 20px 0 0 20px;
  }

  &.open {
    display: block;
  }

  ul {
    margin-bottom: 0;
  }

  &-categories {
    width: 363px;
    padding-right: 20px;
    max-height: 404px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &-category {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }

    // &:hover {
    //   @media(min-width: 1024.99px) {
    //     .menu-submenu {
    //       display: flex !important;
    //     }
    //   }
    // }

    &-item {
      position: relative;
    }

    &-link {
      height: 50px;
      // line-height: 50px;
      display: inline-block;
      font-size: 14px;
      position: relative;
      padding-left: 64px;
      width: 100%;
      padding-right: 22px;
      border-radius: 3px;
      transition: color .2s ease, background-color .2s ease;
      align-content: center;

      a {
        transition: color .2s ease;
      }

      &:hover {
        background-color: #EAF5FF;
        color: #2D88D6;

        &+.menu-category-btn{
          svg {
            fill: #2D88D6;
          }
        }
      }
    }

    &-btn {
      position: absolute;
      height: 24px;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 24px;
      z-index: 2;
      cursor: pointer;

      @media(min-width: 1024.99px) {
        pointer-events: none;
      }

      svg {
        fill: #1D1E20;
        transition: fill .2s ease;
        height: 1cap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
      }
    }

    &-img {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      line-height: 0;
      text-align: center;
      background-color: #F7F7F7;
      border-radius: 3px;

      img {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: multiply;
      }
    }
  }

  &-submenu {
    position: absolute;
    left: 100%;
    top: 0;
    background: #fff;
    height: 100%;
    padding: 40px;
    padding-left: 50px;
    // display: flex;
    display: none;
    gap: 0 80px;
    border-radius: 0 20px 20px 0;

    &.active {
      display: flex;
    }

    &.hovered {
      display: flex;
    }

    &-list {
      width: 297px;
      // max-height: 463px;
      max-height: 404px;
      overflow-x: hidden;
      overflow-y: auto;

      li {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        font-size: 15px;
        line-height: 1.4;
        transition: color .2s ease;

        &:hover {
          color: #2D88D6;
        }
      }
    }
  }

  &-commercial {
    // width: 305px;
    // height: 100%;
    // background-color: #EAF5FF;
    // padding: 40px 30px;
    // border-radius: 20px;

    // &-info {
    //   text-align: center;
    //   margin-bottom: 62px;
    // }

    // &-title {
    //   font-weight: 500;
    //   font-size: 32px;
    //   line-height: 1.1;
    //   letter-spacing: -0.04em;
    //   margin-bottom: 16px;
    // }

    // &-subtitle {
    //   font-size: 14px;
    //   line-height: 1.2;
    //   margin-bottom: 16px;
    //   color: #6A6B70;
    // }

    // &-discount {
    //   display: inline-block;
    //   font-weight: 500;
    //   font-size: 15px;
    //   line-height: 1.2;
    //   color: #fff;
    //   height: 28px;
    //   line-height: 28px;
    //   padding: 0 10px;
    //   border-radius: 54px;
    //   background-color: #E84E1B;
    // }

    &-img {
      width: 305px;
      height: 100%;
      line-height: 0;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      // mix-blend-mode: multiply;
      // text-align: center;
    }
  }

  .scroll {
    /* Общая полоса прокрутки */
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Дорожка */
    &::-webkit-scrollbar-track {
      background: #E1E3E5;
      border-radius: 3px;
    }

    /* Бегунок */
    &::-webkit-scrollbar-thumb {
      background-color: #A5A8AD;
      border-radius: 3px;
      border: none;
    }
  }

  @media(max-width: 1680.99px) {
    padding: 30px;

    &-submenu {
      padding: 30px;
      gap: 0 20px;

      &-list {
        width: 220px;
      }
    }

    &-categories {
      width: 310px;
    }

    &-commercial {
      // width: 260px;
      // padding: 30px;

      // &-title {
      //   font-size: 28px;
      //   margin-bottom: 12px;
      // }

      &-img {
        width: 260px;
      }
    }
  }

  @media(max-width: 1440.99px) {
    &-commercial {
      // &-title {
      //   font-size: 24px;
      // }

      // &-subtitle {
      //   font-size: 13px;
      //   margin-bottom: 12px;
      // }

      // &-discount {
      //   font-size: 14px;
      //   height: 26px;
      //   line-height: 26px;
      // }
    }

    &-submenu {
      &-list {
        max-height: 340px;
      }
    }

    &-categories {
      max-height: 340px;
    }

    &-commercial {
      &-img {
        width: 220px;
      }
    }
  }

  @media(max-width: 1230px) {
    // left: -300px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media(max-width: 1180.99px) {
    // left: -282px;
    padding: 25px;

    &-categories {
      width: 290px;
      padding-right: 10px;
      max-height: 315px;
    }

    &-category {
      &-link {
        height: 45px;
      }

      &-img {
        width: 45px;
        height: 45px;

        img {
          width: 35px;
          height: 35px;
        }
      }

      &-link {
        padding-left: 58px;
        padding-right: 22px;
      }
    }

    &-submenu {
      padding: 25px;
      gap: 0 15px;

      &-list {
        width: 200px;
        max-height: 315px;
      }
    }
  }

  @media(max-width: 1024.99px) {
    // left: 0;
    padding: 20px;

    &-submenu {
      padding: 20px;

      &-list {
        max-height: 284px;
        width: 210px;

        li {
          margin-bottom: 10px;
        }

        a {
          font-size: 14px;
        }
      }
    }

    &-commercial {
      // display: none;

      &-img {
        display: none;
      }
    }

    &-categories {
      width: 290px;
      max-height: 284px;
    }

    &-category {
      &-link {
        height: 40px;
        font-size: 13px;
        padding-left: 52px;
      }

      &-img {
        width: 40px;
        height: 40px;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.result {
  // overflow: hidden;
  // touch-action: none;
  // -ms-touch-action: none;
  position: absolute;
  width: 100%;
  top: calc(100% + 16px);
  display: none;
  // z-index: 510;

  &.active {
    display: block;
  }


  &-wrapper {
    position: fixed;
    width: 100%;
    height: 100dvh;
    left: 0;
    top: 0;
    background-color: rgba(29, 30, 32, 0.2);
    z-index: -1;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    pointer-events: none;
    display: none;

    &.active {
      display: block;
    }
  }

  &-block {
    position: relative;
    z-index: 1;
    background: #F7F7F7;
    width: 100%;
    padding: 14px;
    padding-bottom: 29px;
    border-radius: 6px;
  }

  &-content {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    ul {
      margin-bottom: 0;
      line-height: 1.2;
    }

    &-title {
      font-size: 14px;
      line-height: 1.2;
      color: #6A6B70;
      margin-bottom: 10px;

      &.small {
        font-size: 12px;
      }
    }

    &-list {
      li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 25px;


        &::before {
          content: "";
          background-image: url('../images/search-icon.svg');
          background-repeat: no-repeat;
          background-size: 12px;
          position: absolute;
          left: 5px;
          top: 5px;
          width: 12px;
          height: 12px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        font-size: 14px;
        line-height: 1.2;

      }
    }
  }

  &-category {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0 14px;
    font-size: 14px;
    line-height: 1.2;
    padding-right: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
    transition: color .2s ease, background-color .2s ease;

    &:hover {
      color: #2D88D6;
      background-color: #EAF5FF;

      svg {
        fill: #2D88D6
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-img {
      border-radius: 3px;
      overflow: hidden;
      background-color: #fff;
      line-height: 0;
      width: 40px;
      height: 40px;
      position: relative;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
      }
    }

    svg {
      height: 1cap;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      fill: #1D1E20;
      stroke: transparent;
      transition: fill .2s ease;
    }
  }

  &-items {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    gap: 20px;
  }

  &-item {
    display: flex;
    gap: 0 16px;

    &-img {
      line-height: 0;
      border-radius: 16px;
      overflow: hidden;
      background-color: #fff;
      line-height: 0;
      width: 92px;
      height: 92px;
      flex: 0 0 92px;
      position: relative;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
      }
    }

    &-info {
      max-width: calc(100% - 108px);
      flex: 0 0 calc(100% - 108px);
      line-height: 1.1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1px 0;
      gap: 6px 0;
    }

    &-title {
      font-weight: 400;
      font-size: 12px;
    }

    &-price {
      font-weight: 400;
      font-size: 12px;
    }
  }

  @media(max-width: 1024.99px) {
    &-items {
      flex-direction: column;
    }

    &-item {
      &-title {
        max-width: 240px;
      }
    }

    &-content {
      margin-bottom: 30px;

      &-title {
        font-size: 12px;
      }

      &-list {
        a {
          font-size: 13px;
        }
      }
    }

    &-category {
      font-size: 13px;
    }
  }

  @media(max-width: 768.99px) {
    &-block {
      padding: 14px;
    }

    &-content {
      &-list {
        a {
          font-size: 12px;
        }

        li {
          padding-left: 25px;

          &::before {
            left: 5px;
          }
        }
      }
    }

    &-category {
      font-size: 12px;
    }
  }

  @media(max-width: 576.99px) {
    height: calc(100dvh - 110px);

    &-block {
      // height: calc(479px - 118px);
      // height: calc(100dvh - 109px);
      // overflow-x: hidden;
      // overflow-y: auto;
      // overflow: hidden;
      // touch-action: none;
      // -ms-touch-action: none;
      max-height: 562px;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
    }
  }
}

@media(max-width: 576.99px) {
  .select-location {
    left: auto !important;
    right: 10px !important;
  }
}