.auth {
  &-page {
    background-color: #EAF5FF;
    padding: 80px 0;
    min-height: calc(100dvh - 721px);
  }

  &-block {
    max-width: 520px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 16px;
    padding: 40px;

    .ui-btn {
      width: 100%;
      border-radius: 10px;
      height: 52px;
    }

    &-head {
      margin-bottom: 24px;
    }

    &-bottom {
      padding-top: 12px;
      margin-top: 40px;
      border-top: 1px solid #E1E3E5;

      ul {
        margin-bottom: 0;
      }

      li {
        text-align: center;
        margin-bottom: 6px;
        line-height: 1;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-link {
      font-weight: 400;
      font-size: 15px;
      // text-align: center;
      color: #2D88D6;
      transition: color .2s ease;
      line-height: 1.4;

      &:hover {
        color: #a5a8ad;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 32px;
      line-height: 1.1;
      letter-spacing: -0.04em;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-subtitle {
      font-weight: 400;
      font-size: 15px;
      line-height: 1.4;

      span {
        font-weight: 500;
      }
    }
  }

  @media(max-width: 1440.99px) {
    &-page {
      padding: 60px 0;
      min-height: calc(100dvh - 718px);
    }
  }

  @media(max-width: 1024.99px) {
    &-page {
      padding: 40px 0;
      min-height: calc(100dvh - 815px);
    }

    &-block {
      .ui-btn {
        height: 45px;
      }

      .ui-fields.mb-24 {
        margin-bottom: 10px;
      }

      &-title {
        font-size: 28px;
      }

      &-bottom {
        margin-top: 24px;
      }

      &-link {
        font-size: 14px;
      }
    }
  }

  @media(max-width: 768.99px) {
    &-page {
      min-height: calc(100dvh - 802px);
    }
  }

  @media(max-width: 576.99px) {
    &-page {
      padding: 0;
      min-height: auto;
    }

    &-block {
      max-width: none;
      border-radius: 0;
      height: 100%;
      padding: 32px 10px;
      padding-bottom: 22px;

      .ui-btn {
        height: 40px;
        border-radius: 8px;
      }

      &-title {
        font-size: 24px;
        padding-bottom: 12px;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-link {
        font-size: 12px;
      }
    }
  }
}